doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', value='width=device-height, initial-scale=1')
    title Caution and warning
    link(rel='stylesheet', href='/styles.css')
  body(data-role=role)
    dialog#modal
      .fdc
        #info
        button(onclick='modal.close();') ok
    table
      - items = Object.keys(data)
      - for (let i = 0; i < items.length; i += 5)
        tr
          each val in items.slice(i, i + 5)
            td.container--item.safe(data-item=val)= val
  script(src='/build.js')
