$c-background: white;
$c-bad: red;
$c-good: lightgreen;

html {
  font-family: Courier, Courier New, monospace;
  font-size: 1.4em;
  -webkit-user-select: none;
  user-select: none;
  background-color: $c-background;
}

* {
  box-sizing: border-box;
  font: inherit;
}

body {
  margin: 0;
}

table {
  width: 100vw;
  height: 100vh;
  padding: 2em;
  border-width: 30px;
  border-image: url('/border.svg') 1 fill stretch;
}

td {
  text-align: center;
  background-color: $c-bad;
  transition: background-color .2s;
  border: .2em solid $c-background;
  cursor: pointer;
}

hr {
  border: .2em solid black;
}

.safe {
  background-color: $c-good;
}

.none {
  background-color: transparent;
}

@import '~dialog-polyfill/dialog-polyfill.css';

dialog::backdrop,
dialog + .backdrop {
  background: rgba(0, 0, 0, 0.2);
}

.fdc {
  display: flex;
  flex-direction: column;
  text-align: center;
}

button {
  margin: 1em 0;
  border: .2em solid black;
  background: none;
}
